{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Корзина</title>
	<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){

	$(window).scroll(function(){
	if ($(this).scrollTop() > 300) {
	$('.scrollup').fadeIn();
	} else {
	$('.scrollup').fadeOut();
	}
	});

	$('.scrollup').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
	});

	});
</script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
	<div class="header">
		<div class="navbar">
			<div class="logo">
				<a  href="{% url 'home' %}">
					<img src="{% static 'Site_icons/logo.png' %}" width="384" height="76" alt="">
				</a>
				 {% if is_login %}
				<a class="auth" >
				{{username}}
				</a>
				<a class="logout" href="{% url 'logout' %}">
					<button>Выйти</button>
				</a>
				{% else %}
				<a class="auth" href="{% url 'login' %}">
				Авторизоваться
				</a>
				{% endif %}
			</div>
			<div class="search">
				<input type="text" placeholder="Поиск по товарам"/>
				<div><input class="icon_search" type="image" src="{% static 'Site_icons/search.png' %}" width="24" height="27" alt="Не удалось загрузить"></div>
			</div>
		<div class="basket">
			<a href="{% url 'basket' %}">
				<img src="{% static 'Site_icons/shopping-cart.png' %}" width="50" height="45" alt="">
			</a>
		</div>
		<ul class="navlist">
			<li class="Catalog">
					<img src="{% static 'Site_icons/menu.png' %}" width="26"
			height="22" alt=""><div class="dropdown-content">
    			<a href="{% url 'catalog_crags' %}">Краги</a>
    			<a href="{% url 'catalog' %}">Коньки</a>
    			<a href="{% url 'catalog_bib' %}">Нагрудники</a>
    			<a href="{% url 'catalog_trousers' %}">Трусы</a>
    			<a href="{% url 'catalog_sticks' %}">Клюшки</a>
    			<a href="{% url 'catalog_armrests' %}">Подлокотники</a>
    			<a href="{% url 'catalog_helmets' %}">Шлемы</a>
  			</div>
			<li ><a href="#">Каталог

  			</a>
			<li><a href="{% url 'brends' %}">Производители</a>
			<li><a href="{% url 'company' %}">О компании</a>
			<li><a href="{% url 'contacts' %}">Контакты</a>
		</ul>
		<div class="line2"></div>
		</div>
	</div>
	<div class="line1"></div>
<div class="content">
	<h1 class="title">Корзина</h1>
	<div class="cost">
	<p>Итого:</p>
	<h1 class="value">0 руб.</h1>
	<button class="buy" onclick="window.location.href='{% url 'order' %}'">Оформить заказ</button>
		<form action="{% url 'upload' %}" method="post">
			{% csrf_token %}
			<button class="clear">Очистить корзину</button>
		</form>
	</div>
	<div>

	<ul class="order">

	{% for post in basket %}
		<li>
			<div>
				<ul>
					<li>
						<input class="remove" src="{% static 'Site_icons/remove.png' %}" type="image">
					</li>
					<li>
						<div class="counter">{{post.count}}</div>
					</li>
					<li>
						<input class="plus" src="{% static 'Site_icons/plus.png' %}" type="image">
					</li>
				</ul>
				<img class="img" src='{{post.img}}'>
				<p class="name">{{post.name}}</p>
				<h1 class="price">{{post.price}}</h1>
				<h2 class="basket-currency">руб.</h2>
			</div>
			<input src="{% static 'Site_icons/del.png' %}" type="image" class="del">
		</li>
		{% endfor %}
		</ul>
	</div>

</div>
<div class="footer">
		<div class="footer_contacts">
			<div class="contacts">Контакты
				<div class="telephone">
			<img class="print_telephone" src="{% static 'Site_icons/phone.png' %}" alt="">
			<div class="number">+79080636899
			</div>
		</div>
		<div class="location">
			<img class="print_location" src="{% static 'Site_icons/location.png' %}" alt="">
			<div class="address">Город Челябинск, улица Марата 8
			</div>
		</div>
		<div class="email">
			<img class="print_email" src="{% static 'Site_icons/envelope.png' %}" alt="">
			<div class="email_address">mdryomin@bk.ru
			</div>
		</div>
			</div>

		</div>
		<div class="social_sites">Мы в социальных сетях
				<ul>
					<li class="VK"><a href="https://vk.com/mdryomin99" target="_blank"><img src="{% static 'Site_icons/vk.png' %}" width="40"
					height="40" alt=""></a>
					<li class="Telegram"><a href="https://t.me/MikhailDrem" target="_blank"><img src="{% static 'Site_icons/telegram.png' %}" width="40"
					height="40" alt=""></a>
					<li class="Instagram"><a href="https://www.instagram.com/" target="_blank"><img src="{% static 'Site_icons/instagram.png' %}" width="40"
					height="40" alt=""></a>
				</ul>

		</div>

	</div>
	<a href="#" class="scrollup">Наверх</a>

<script src="{% static 'js/script_basket.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>
</html>